#canvas1{
    background: linear-gradient(to top, #2b5a2b, #39ac2f);
    position: relative;
    width: 1650px;
    height: 750px;
    justify-content: center;
    margin: 50px;
}

#utility {
    color: white;
}
