.cell-square {
    border-style: solid;
    border-color: rgb(59, 56, 56);
    background-color: white;
    width: 20px;
    height: 20px;
    border-width: 0.5px;
    background-color: rgba(37, 100, 37, 0.87);
}